*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f3f5fc;
}
h1 {
  color: #1d3557;
  font-family: 'Roboto Condensed', sans-serif;
}
div.title-div {
  display: flex;
  justify-content: start;
  width: 100%;
}
h1.title-h1 {
  text-align: center;
}
.logo {
  display: none;
}
span {
  font-style: italic;
  color: #03045e;
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1em;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.encryption-div {
  display: grid;
  width: 100%;
  height: 70vh;
}
.encryption-btn,
.decryption-btn {
  cursor: pointer;
  width: 35%;
  height: 70%;
  border-radius: 10px;
  border-style: none;
  font-size: 1rem;
}
.decryption-btn {
  margin-left: 1em;
  background-color: #d8dfe8;
  color: #0a3871;
  transition: all 0.5s;
}
.encryption-btn {
  background-color: #0a3871;
  color: white;
  transition: all 0.5s;
}
.encryption-btn:hover,
.encryption-btn:focus {
  background-color: #000814;
}
.decryption-btn:hover,
.decryption-btn:focus {
  background-color: #b0b3b8;
}
#text-input {
  font-size: 1.2rem;
  padding: 1em;
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 10px;
  color: #0a3871;
  background-color: #f3f5fc;
  transition: all 1s;
}
#text-input::placeholder {
  color: #0a3871;
  font-size: 1.2rem;
}
.text-div {
  position: relative;
  height: 50vh;
}
.text-output-div {
  height: 100%;
  width: 100%;
  resize: none;
  border-style: none;
}
.text-output-div:focus,
.text-output-div:hover {
  border-style: none;
  outline: none;
}
.resultado {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 5%;
  padding: 1em;
  background-color: white;
  box-shadow: 1px 1px 8px 0.1px;
  font-size: 1.2rem;
  overflow-wrap: break-word;
}
.copiar-btn {
  width: 4em;
  height: 2em;
  border-radius: 5px;
  border-style: none;
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 12px;
  background-color: #caccd2;
  transition: all 0.3s;
}
.copiar-btn:hover,
.copiar-btn:focus {
  background-color: #abadb0;
}
.btn {
  width: 100%;
  text-align: center;
}
.disclamer {
  margin-bottom: 2.5em;
}
.notification {
  text-align: center;
}
.ops-img {
  width: 20em;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3.5em auto;
  margin-bottom: 1em;
}
i {
  font-size: 2.4rem;
}
.contact i {
  padding: 0 0.5rem;
  color: #03045e;
}
.contact i:hover,
.contact i:focus {
  font-size: 2.8rem;
  transition: all 0.3s;
}
footer {
  padding: 0;
  font-style: italic;
  padding: 1em;
  font-size: 0.8rem;
}
footer i {
  font-size: 0.8rem;
}
.alert {
  position: fixed;
  top: 10px;
  right: 1em;
  border: 1px solid #155724;
  background-color: #d4edda;
  border-radius: 10px;
  width: 15em;
  text-align: center;
}
@media (max-width: 700px) {
  h1.title-h1 {
    margin: auto;
  }
}
@media (min-width: 700px) {
  section {
    flex-direction: row;
  }
  .resultado {
    margin-left: 1em;
  }
  footer i {
    font-size: 1rem;
  }
  footer {
    font-size: 1rem;
  }
  h1.title-h1 {
    width: 100%;
    margin-left: -80px;
  }
  .logo {
    display: flex;
    align-self: center;
    width: 70px;
    height: 50px;
  }
}
